@viewport 
{
  width: device-width ;
  zoom: 1.0 ;
}

body
{
    font-family: Calibri, sans-serif, Times, Arial;
    /*font: 15px/1.5, Roboto, Bookman, Arial, sans-serif;*/
    padding: 0;
    margin: 0;
    background-color: #6b6960;
}

.container
{
    max-width: 100%;
    max-height: 100%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: auto;
    margin-bottom: auto;
    overflow: hidden;
}

ul
{
    margin: 0;
    padding: 0;
}

.list-item
{
    padding: 4px; 10px 4px; 10px;
    list-style-position: inside;
    list-style-type: square;
}

.step-by-step-list
{
    padding: 4px; 10px 4px; 10px;
    list-style-position: inside;
    list-style-type: upper-roman;
}

.page-title
{
    font-size: 34px;
    border-top: #321A0D 3px solid;
    border-bottom: #321A0D 3px solid;
    background: #A65023;
    text-align: center;
    color: #FFFFFF;
}

.page-key
{
    background: #453232;
    color: #FFCEBA;
    border: #D8AF9C 1px solid;
    text-align: left;
    
    margin-top: 1%;
    margin-bottom: 1%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.page-key .keys li
{
    list-style-type: none;
}

.page-key .keys li a
{
    color: #FFCEBA;
    line-height: 1.5;
}

.page-key h3
{
    text-transform: uppercase;
    font-size: 16px;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.page-sections
{
    background: #453232;
    color: #FFCEBA;
    border: #D8AF9C 1px solid;
    text-align: left;
    
    margin-bottom: 20px;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.page-sections a
{
    color: #FFCEBA;
}

.page-sections h3
{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.page-sections h4
{
    text-decoration: none;
    font-size: 16px;
}

.to-top-floating-button
{
    display: block;
    position: fixed;
    bottom: 20px;
    right: 30px;
}

.to-top-floating-button a
{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    background: #D8AF9C;
    color: #281D1D;
    border: #453232 2px solid;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
    text-decoration: none;
}

.to-top-floating-button a:hover
{
    background: #453232;
    color: #FFCEBA;
    border: #D8AF9C 2px solid;
}

header
{
    background: #6b6960;
    color: #000000;
    padding-top: 2%;
}

header a
{
    color: #193B7A;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header #banner
{
    float: left;
    padding-top: 1%;
    padding-bottom: 1%;
}

header #banner h1
{
    float: right;
    margin: 0;
}

header #banner img
{
    max-width: 100%;
}


header .banner-border
{
    border-bottom: #000000 2px solid;
    border-top: #000000 2px solid;
    border-right: #000000 2px solid;
    border-left: 0px;
    background: #FFFFFF;
    padding: 5px 25px 5px 25px;
    display: inline-block;
}

nav
{
    background: #6b6960;
    max-width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
    height: 39px;
}

nav ul
{
    
}

nav ul li
{
    list-style: none;
    display: inline-block;
    float: left;
    margin-right: 4px;
    margin-bottom: 4px;
    line-height: 35px;
}

nav ul li a
{
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    background: #D8AF9C;
    color: #281D1D;
    padding-left: 25px;
    padding-right: 25px;
    border: #453232 2px solid;
}

nav ul li a:hover
{
    background: #453232;
    color: #FFCEBA;
    border: #D8AF9C 2px solid;
}

#page-intro
{
    background: #453232;
    color: #FFCEBA;
    border: #D8AF9C 1px solid;
    text-align: left;
    margin-left: 10px;
    margin-right: 10px;
}

#page-intro h1
{
    margin-top: 10px;
    font-size: 30px;
    margin-bottom: 10px;
}

#page-intro p
{
    font-size: 20px;
}

#page-intro a
{
    color: #FFCEBA;
}

#boxes
{
    max-width: 100%;
    margin-top: 1%;
}

#boxes .box
{
    float: left;
    text-align: left;
    max-width: 30%;
    padding: 1%;
    margin: 0.25%;
    display: block;
}

#boxes .box img
{
    max-width: 100%;
}

#boxes .box a
{
    color: #000000;
}

#boxes-app-display
{
    margin-top: 20px;
}

#boxes-app-display .box
{
    float: left;
    text-align: left;
    max-width: 30%;
    padding: 1%;
    margin: 0.25%;
    display: block;
}

#boxes-app-display .box img
{
    max-width: 100%;
}

#boxes-app-display .box a
{
    color: #000000;
}

#boxes-app-display .vid-box
{
    float: left;
    text-align: left;
    max-width: 99%;
    padding: 1%;
    margin: 0.25%;
    display: block;
}

#boxes-app-display .vid-box video
{
    max-width: 100%;
}

article#documentation
{
    float: left;
}

footer
{
    background: #453232;
    color: #FFCEBA;
    border: #D8AF9C 1px solid;
    margin: 10px;
    text-align: center;
}
